$BLACK: #000000;
$WHITE: #FFFFFF;
$TRANSAPRENT: transparent;

$GREY_FDFDFD: #FDFDFD;
$GREY_DEDEDD: #DEDEDD;
$GREY_76787D: #76787D;
$GREY_E0E0E0: #E0E0E0;
$GREY_E9ECEF: #E9ECEF;
$GREY_0000001A: #0000001A;
$BASE_RED: #E31F24;

$PRIMARY_FONT: Montesserat,
sans-serif;

$TABLET: 768px;
$DESKTOP: 1266px;